[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt5 = "*"
click = "*"
appdirs = "*"
pyxdg = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"
