[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt5 = "*"
click = "*"
appdirs = "*"
requests = "*"
pyxdg = {version = "*",sys_platform = "== 'linux'"}
pyobjc-core = {version = "*",sys_platform = "== 'darwin'"}
pyobjc-framework-launchservices = {version = "*",sys_platform = "== 'darwin'"}

[dev-packages]
black = "*"
# Windows pyinstaller we build from source
pyinstaller = {version = "*",sys_platform = "== 'darwin'"}
setuptools = {version = "*",sys_platform = "== 'win32'"}
pywin32 = {version = "*",sys_platform = "== 'win32'"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
