[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt5 = "*"
click = "*"
appdirs = "*"
pyxdg = {version = "*",platform_system = "== 'Linux'"}
pyobjc-core = {version = "*",platform_system = "== 'Darwin'"}
pyobjc-framework-launchservices = {version = "*",platform_system = "== 'Darwin'"}
requests = "*"

[dev-packages]
black = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
