QLineEdit {
    border-width: 1px;
    border-style: solid;
    border-color: #c8c8c8;
    padding: 3px;
}

MainWindow[OSColorMode="light"] QWidget {
    color: black;
}

QDialog[OSColorMode="light"] QWidget {
    color: black;
}

DocSelectionDropFrame{
    border: 2px dashed rgb(193, 193, 193);
    border-radius: 5px;
    margin: 5px;
}
/*
 * QLabel left-adjacent to a QLineEdit to give the illusion
 * that it is part of it, but just not editable
 */
QLabel[style="safe_extension_filename"] {
    border-width: 1px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #c8c8c8;
    padding: 4px 0px 4px 4px;
}

MainWindow[OSColorMode="light"] QLabel[style="safe_extension_filename"] {
    background: white;
    color: grey;
}

MainWindow[OSColorMode="dark"] QLabel[style="safe_extension_filename"] {
    background: black;
    color: grey;
}

QLabel.docs-selection {
    font-size: 18px;
}

QLabel.version {
    font-size: 20px;
    padding-bottom: 5px;  /* align with 'dangerzone' font */
}
