QLineEdit {
    border-width: 1px;
    border-style: solid;
    border-color: #c8c8c8;
    padding: 3px;
}

MainWindow[OSColorMode="light"] QWidget {
    color: black;
}

QDialog[OSColorMode="light"] QWidget {
    color: black;
}

DocSelectionDropFrame{
    border: 2px dashed rgb(193, 193, 193);
    border-radius: 5px;
    margin: 5px;
}
/*
 * QLabel left-adjacent to a QLineEdit to give the illusion
 * that it is part of it, but just not editable
 */
QLabel[style="safe_extension_filename"] {
    border-width: 1px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #c8c8c8;
    padding: 4px 0px 4px 4px;
}

MainWindow[OSColorMode="light"] QLabel[style="safe_extension_filename"] {
    background: white;
    color: grey;
}

MainWindow[OSColorMode="dark"] QLabel[style="safe_extension_filename"] {
    background: black;
    color: grey;
}

QLabel.docs-selection {
    font-size: 18px;
}

QLabel.version {
    font-size: 20px;
    padding-bottom: 5px;  /* align with 'dangerzone' font */
}

QTextEdit[style="traceback"] {
    font-family: Consolas, Monospace;
    font-size: 12px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

QLabel[style="warning"] {
    background-color: #FFF3CD;
    color: #856404;
    border: 1px solid #FFEEBA;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}


MainWindow[OSColorMode="dark"] QLabel[style="warning"] {
    background-color: #332D00;
    color: #FFD970;
    border-color: #665A00;
}

/*
 * Status Bar
 *
 * Accessibility colors chosen with the help of https://www.whocanuse.com. Our
 * aim is for AAA rating for all cases, except for "Direct Sunlight" in dark
 * mode, where we aim for AA rating.
 */

/*
 * Light mode assumes background-color: #ECECEC
 */

MainWindow[OSColorMode="light"] QStatusBar[style="status-success"] {
    /* We currently want to hide the status bar in case of success */
    border-top: 0px;
}

MainWindow[OSColorMode="light"] QStatusBar[style="status-info"] {
    background-color: #D1ECF1;
    border-top: 1px solid #BEE5EB;
}

MainWindow[OSColorMode="light"] QLabel[style="status-info"] {
    color: #062C32;
}

MainWindow[OSColorMode="light"] QStatusBar[style="status-error"] {
    background-color: #F8D7DA;
    border-top: 1px solid #F5C6CB;
}

MainWindow[OSColorMode="light"] QLabel[style="status-error"] {
    color: #3D0F13;
}

/*
 * Dark mode assumes background-color: #323232
 */

MainWindow[OSColorMode="dark"] QStatusBar[style="status-success"] {
    /* We currently want to hide the status bar in case of success */
    border-top: 0px;
}

MainWindow[OSColorMode="dark"] QStatusBar[style="status-info"] {
    background-color: #1A3A52;
    border-top: 1px solid #2B5472;
}

MainWindow[OSColorMode="dark"] QLabel[style="status-info"] {
    color: #BDE5F5;
}

MainWindow[OSColorMode="dark"] QStatusBar[style="status-error"] {
    background-color: #4D1A1A;
    border-top: 1px solid #722D2D;
}

MainWindow[OSColorMode="dark"] QLabel[style="status-error"] {
    color: #FFC7C7;
}

MainWindow QStatusBar {
    border: 0px;
    border-top: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

MainWindow QStatusBar::item {
    border: 0px;
}

MainWindow QStatusBar QLabel {
    font-size: 12px;
}
