QLineEdit {
    border-width: 1px;
    border-style: solid;
    border-color: #c8c8c8;
    padding: 3px;
}

MainWindow[OSColorMode="light"] QWidget {
    color: black;
}

QDialog[OSColorMode="light"] QWidget {
    color: black;
}

DocSelectionDropFrame{
    border: 2px dashed rgb(193, 193, 193);
    border-radius: 5px;
    margin: 5px;
}
/*
 * QLabel left-adjacent to a QLineEdit to give the illusion
 * that it is part of it, but just not editable
 */
QLabel[style="safe_extension_filename"] {
    border-width: 1px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #c8c8c8;
    padding: 4px 0px 4px 4px;
}

MainWindow[OSColorMode="light"] QLabel[style="safe_extension_filename"] {
    background: white;
    color: grey;
}

MainWindow[OSColorMode="dark"] QLabel[style="safe_extension_filename"] {
    background: black;
    color: grey;
}

QLabel.docs-selection {
    font-size: 18px;
}

QLabel.version {
    font-size: 20px;
    padding-bottom: 5px;  /* align with 'dangerzone' font */
}

QTextEdit[style="traceback"] {
    font-family: Consolas, Monospace;
    font-size: 12px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

QLabel[style="warning"] {
    background-color: #FFF3CD;
    color: #856404;
    border: 1px solid #FFEEBA;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}


MainWindow[OSColorMode="dark"] QLabel[style="warning"] {
    background-color: #332D00;
    color: #FFD970;
    border-color: #665A00;
}

/*
 * Status Bar
 */

/*
 * Light mode assumes background-color: #ECECEC
 */
MainWindow[OSColorMode="light"] QStatusBar[style="status-error"] {
    background-color: #FFB3B3;
}

MainWindow[OSColorMode="light"] QStatusBar[style="status-attention"] {
    background-color: #FFDDC1;
}

MainWindow[OSColorMode="light"] QStatusBar[style="status-success"] {
    border-top: 0px;
}

/*
 * Dark mode assumes background-color: #323232
 */
MainWindow[OSColorMode="dark"] QStatusBar[style="status-error"] {
    background-color: #FF9494;
}

MainWindow[OSColorMode="dark"] QStatusBar[style="status-attention"] {
    background-color: #FFD18F;
}

MainWindow[OSColorMode="dark"] QStatusBar[style="status-success"] {
    border-top: 0px;
}

MainWindow QStatusBar {
    border: 0px;
    border-top: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

MainWindow QStatusBar QLabel {
    font-size: 12px;
}
