[Desktop Entry]
Name=Dangerzone
GenericName=Dangerzone
Comment=Take potentially dangerous PDFs, office documents, or images and convert them to a safe PDF
Exec=dangerzone %F
Terminal=false
Type=Application
Icon=press.freedom.dangerzone
Categories=Office;Utility;OCR;Security
MimeType=application/pdf;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/msword;application/vnd.ms-word.document.macroEnabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.spreadsheet;application/epub+zip;application/x-mobipocket-ebook;image/svg+xml;image/bmp;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-pixmap;image/jpeg;image/gif;image/png;image/tiff;image/x-tiff
