name: Release multi-arch container image

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "test/**"
  schedule:
    - cron: "0 0 * * *" # Run every day at 00:00 UTC.

jobs:
  build-push-image:
    uses: ./.github/workflows/build-push-image.yml
    with:
      registry: ghcr.io/${{ github.repository_owner }}
      registry_user: ${{ github.actor }}
      image_name: dangerzone/dangerzone
      reproduce: true
      # Pass sign=false here as signing is a manual process for the nightly images.
      sign: false
    secrets:
      registry_token: ${{ secrets.GITHUB_TOKEN }}
